extends layouts/main.pug
include mixins/meetBlock
block content
    .meetings
        each item in meetings
            +meetBlock({
                id:item.id,
                title:item.title,
                members:item.members           
                 })