extends layouts/main.pug
include mixins/meetBlock
block content
    .meets
        each item in meets
            +meetBlock({
                id:item.id,
                title:item.title,
                members:item.members,
                imgFile:item.fileUrl        
                })