extends layouts/main.pug

block content
    .meet-header
        .meet-header__column
            .column__title
                h3=meet.title
        .meet-header__column
            .name_columns
                each item in meet
                    button.column__button=item   
        .meet-header__column
            button.column__button +
            button.column__button -
            button.column__button All 
        .meet-header__column
            .column__members
                if meet.members.length===0
                    h3 Members is Empty 😢
                else
            a(href=routes.plusMember(meet.id))
                button.edit-button 추가하기 
            
            
        