extends layouts/main.pug

block content
    .meet-header
        .meet-header__column
            .column__title hi
        .meet-header__column
            .column__members
                ul
                    li park
                    li oh
                    li lee
        .meet-header__column
            button.column__button 갚음
            button.column__button 빌림
            button.column__button 전체
            
            
        