extends layouts/main.pug
include mixins/meetDetialBlock
block content
    .meet-detail
        .meet-detail__header
            .column__title
                h3=meet.title
            .name__column
                each item in total
                    .name__column-member=item.name 
            .button__column
                .sort__button +
                .sort__button All
                .sort__button -
        .meet-detail__content
            if meet.members.length===0
                h3 Members is Empty 😢
            else
                each item in total
                    +meetDetailBlock({
                        id:item.id,
                        money:item.money,
                        date:item.date,
                        name:item.name,
                        detail:item.detail, 
                    })
        .meet-detail__nav
            a(href=routes.plusMember(meet.id))
                button.edit-button Plus Member 
            a(href=routes.editMeet(meet.id))
                button.edit-button Edit Meet
            
            
        