extends layouts/main.pug

block content
    .form-container
        form(action=routes.editMeet(meet.id),method="post")
            input(type="text",placeholder="Title",name="title",value=meet.title)
            input(type="submit",value="Update Meet") 
        a.form-container__link(href=routes.deleteMeet(meet.id)) Delete Meet ❌