extends layouts/main.pug
include mixins/meetBlock
block content
    .meets
        each item in meets
            if loggedUser
                if loggedUser.id === item.creator.id
                    +meetBlock({
                        id:item.id,
                        title:item.title,
                        members:item.members,
                        imgFile:item.fileUrl        
                        })
            