extends layouts/main.pug

block content
    .form-container
        form(action=routes.plusMember(meet.id),method="post")
            input(type="text", placeholder="Name",name="name",required="true")
            input(type="submit",value="모임인원추가")
