@keyframes flashAnimation {
  0% {
    transform: translateY(-70px);
  }
  5% {
    transform: translateY(0px);
  }
  95% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-70px);
  }
}
@-webkit-keyframes flashAnimation {
  0% {
    transform: translateY(-70px);
  }
  5% {
    transform: translateY(0px);
  }
  95% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-70px);
  }
}

.flash-message__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  z-index: 9;
  text-align: center;
  animation: flashAnimation 5s ease-in-out forwards;
  &.error {
    background-color: #eb2f06;
  }
  &.success {
    background-color: #78e08f;
  }
  &.info {
    background-color: #1e3799;
  }
  .flash-meesage__text {
    font-size: 16px;
    color: white;
    font-weight: 600;
  }
}
